<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite Allure">
    <test verbose="2" preserve-order="true" name="D:/OneDrive/Proyectos/P_IntelliJ_IDEA/AirbnbMaven">
        <classes>
            <class name="airbnb.TestSuit02Allure">
                <methods>
                    <include name="TC001_lookForDestinationWhitJSON"/>
                    <include name="TC002_lookForDestinationWhitExcel"/>
                    <include name="TC003_findRestaurantWhitJSON"/>
                    <include name="TC004_selectValueFromResultSearchBasedOnText"/>
                </methods>
            </class>
            <class name="airbnb.TestSuit03Allure">
                <methods>
                    <include name="TC001_clickOnProfile"/>
                    <include name="TC002_verifyProfilePage"/>
                    <include name="TC003_swipeToGetBottomOfTheScreen"/>
                    <include name="TC004_goToProfileAndValidateLegal"/>
                    <include name="TC005_scrollToExactlyText"/>
                    <include name="TC006_scrollToPartialText"/>
                    <include name="TC007_screenShotOfProfileBottomPage"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>